# 依赖
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js 构建输出
.next
out

# 测试
coverage

# 环境变量
.env*.local
.env

# 日志
*.log

# 编辑器
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore
.gitattributes

# macOS
.DS_Store

# 其他
README.md
Jenkinsfile
deploy.sh
